
@font-face {
    font-family: 'clockface'; /*a name to be used later*/
    src: url('digital-7 (mono).ttf'); /*URL to font*/
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'clockface';
  background-image: url('image.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#top {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #660066;
  margin: 0;
  padding: 0;
}

#bottom {
  position: absolute;
  bottom: 0px;
  height: 0%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#countdown {
  color: #FFF;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#pause {
  margin: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  color:white;
}

#canvas {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
