body {
    background-color: #0192ba;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    color: white;
    position: relative;
    top: 40%;
    display: inline-block;
    margin: 0;

}
