
@font-face {
    font-family: 'clockface'; /*a name to be used later*/
    src: url('digital-7 (mono).ttf'); /*URL to font*/
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: 'clockface';
}

#countdown {
  color: #00FFFF;
  font-size: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
