* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    background: #ff0081;
    color: white;
    text-align: center;
    padding: 10px;

    background: linear-gradient(221deg, #ff0081, #c55ebd, #b300ad);
    background-size: 600% 600%;

    -webkit-animation: gradient 29s ease infinite;
    -moz-animation: gradient 29s ease infinite;
    animation: gradient 29s ease infinite;
}

#container {
    max-width: 620px;
    text-align: left;
    margin: 0 auto;
}

#circle-container {
    text-align: center;
}

#circle {
    height: 250px;
    width: 250px;
    background: white;
    border-radius: 50%;
    border: 5px solid hotpink;
    color: hotpink;
    text-align: center;
    display: inline-block;
}

#circle:hover {
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
}

#circle p {
    margin-top: 77px;
    font-size: 25px;
    line-height: 60px;
}

#circle p span {
    font-weight: bold;
    font-size: 150px;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 5px;
    margin-top: 60px;
}

table {
    text-align: left;
    border-spacing: 0 3;
}

tr {
    background: transparent;
    transition: background ease 0.3s;
}

tr:hover {
    background: #FFFFFF20;
}

.progress {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3px;
}

.progress .label {
    width: 180px;
    font-weight: bold;
}

.progress .bar {
    height: 24px;
    width: 250px;
    background: #FFFFFF15
}

.progress .bar div {
    background: red;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .progress .bar {
        width: 100%;
    }

    .progress .label {
        flex-grow: 1;
    }
}

.days {
    text-align: center;
    padding-left: 25px;
    width: 70px;
}

.percent {
    padding: 0 5px 0 25px;
}

#progress1 .bar div {
    background: #00BCD4;
}

#progress2 .bar div {

    background: #F44336;
}

#progress3 .bar div {

    background: #FF9800;
}

#progress4 .bar div {

    background: #FFEB3B;
}

#progress5 .bar div {

    background: #CDDC39;
}

.pulse {
    margin: 100px;
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #cca92c;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 30px rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@-webkit-keyframes gradient {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

@-moz-keyframes gradient {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 51%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 51%
    }
}

#heart {
    z-index: -1;
    opacity: 0.1;
    position: fixed;
    left: -20%;
    bottom: 0;
    width: 80%;
    padding-top: 60%;
    overflow: hidden;
}

#heart:before,
#heart:after {
    margin-top: -60%;
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background: black;
    -moz-border-radius: 100000px 100000px 0 0;
    border-radius: 100000px 100000px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

#visits-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#visits {
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {
    #visits-container {
        position: unset;
        bottom: unset;
        right: unset;
        float: right;
    }
}